set -x PIVOTAL_TOKEN {{ fish_secrets.pivotal_token }}
set -x PUSHOVER_TOKEN {{ fish_secrets.pushover_token }}
set -x PUSHOVER_USER {{ fish_secrets.pushover_user }}
set -x TODOIST_TOKEN {{ fish_secrets.todoist_token }}
set -x FORECAST_IO_API_KEY {{ fish_secrets.forecast_io_api_key }}
set -x MY_LAT {{ fish_secrets.my_lat }}
set -x MY_LNG {{ fish_secrets.my_lng }}
set -x PAPERTRAIL_API_TOKEN {{ fish_secrets.papertrail_token }}
set -x CONFIG_APP {{ fish_secrets.config_app }}
